@import url("variables.less");

/**********
 * MIXINS *
 **********/

.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.ratio (@style: normal) {
    font-family: ratio-i2,ratio,sans-serif;
    font-style: @style;
    font-weight: 200;
}

.menu_font (@style: normal) {
    font-family: le-havre-n3,le-havre,sans-serif;
    font-style: @style;
    font-weight: 300;
}

/***********
 * GENERAL *
 ***********/

div.container {
    width: @unit_pageWidth;
    margin-left: @unit_containerMarginLeft;
    position: relative;
}

.text-center {
    text-align: center;
}

body {
    font: 1em/1.5em Geneva, Verdana, "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

p {
    color: @color_paragraph;
    margin-bottom: 0.5em;
}

h1 {
    color: @color_h1;
    font-size: 1.5em;
    font-style: italic;
}
h3 {
    color: @color_h3;
    font-size: 1.25em;
    margin-bottom: 0.5em;
}

ul.h_menu {
    list-style: none;

    li {
        display: inline;
        list-style: none;
    }

}

/************
 * ELEMENTS *
 ************/

#header1 {
    background-color: @color_dark_bg;
    height: 4em;
    .ratio(italic);
    color: @color_light_fg;

    span {
        position: relative;
        top: 1.75em;
        font-size: 0.75em;
    }

    .reddot {
        background: url("/static/img/reddot.gif") no-repeat 0 center;
        margin-left: 1em;
        padding-left: 0.75em;
        float: right;
        .ratio;
    }
}

#header2 {
    background-color: @color_light_bg;
    border-bottom: 1px solid @color_header2_bottomborder;
    height: 6em;

    #nameBox {
        position: absolute;
        top: 2em;

        span#title {
            .menu_font(italic);
            font-size: 1em;
        }

        span#name {
            .menu_font(normal);
            font-size: 2em;
        }
    }

    #sizeChangerBox {
        color: @color_fontSizeChanger;
        padding: 0.2em;
        background-color: white;
        position: absolute;
        top: 3em;
        right: 1em;
        border: 1px solid @color_header2_bottomborder;
        .rounded-corners(2px);

        span {
            cursor: pointer;
        }

        .smallText {
            font-size: 0.5em;
        }

        .mediumText {
            font-size: 1em;
        }

        .largeText {
            font-size: 1.5em;
        }
    }
}

#topMenuBar {
    background: url("/static/img/topmenu_bottom.jpg") repeat-x bottom;
    padding-bottom: 3px;
    .menu_font;
    position: relative;

    img {
        position: absolute;
        top: -16px;
    }

    #top_menu {
        padding: 1em 0;
        position: relative;
        left: -0.5em;

        li {
            /*background: url("/static/img/topmenu_arrow.gif") no-repeat center -10px;*/

             a {
                padding: 1em 0.5em;
                color: @color_topmenu_unactive;
             }

             a:hover {
                 background-color: @color_dark_bg;
                 color: @color_light_fg;
             }

             a.active {
                 color: @color_light_fg;
                 background-color: @color_dark_bg;
             }
        }
    }
}

#content {
    padding-top: 2em;
}

#footer {
    clear: both;
    .menu_font;
    padding-top: 2em;
    #bottomMenuBar {
        background-color: @color_dark_bg;
        margin: 0;

        .container {
            text-align: right;
        }

        #bottom_menu {
            padding: 0.5em 0;

            li {

                a {
                    padding: 0.5em 0.5em;
                    color: @color_bottommenu_fg;
                }

                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

