@color_dark_bg: #2d2d2d;
@color_light_bg: #f6f6f3;
@color_light_fg: #cfcfcf;
@color_topmenu_unactive: #434343;
@color_bottommenu_fg: #b8b8b8;
@color_header2_bottomborder: #f0f0ed;
@color_fontSizeChanger: #898989;
@color_subMenuActive: #6fe9ff;
@color_paragraph: #6a6a6a;
@color_h1: #373737;
@color_h3: #6a6a6a;
@color_summaryBox_fg: #dadada;

@unit_pageWidth: 58em;
@unit_homePortraitWidth: 324px;
@unit_articleColumnWidth: 29em;
@unit_containerMarginLeft: 2em;