{% extends "articles.html" %}

{% block articles_genelBilgi_url %}<a href="kanser_genel_bilgi" class="active">Kanser Genel Bilgi</a>{% endblock %}

{% block article_content %}
    <h1>Kanser Genel Bilgi</h1>

    <div class="left">
        <h3>Kanser Nedir?</h3>



        <h3>Belirti ve bulgular</h3>
        <h3>Tanı</h3>
        <h3>Evreleme</h3>
        <h3>Tedavi</h3>
    </div>

    <div class="right">
        <h3>Cerrahi</h3>
        <h3>Radyoterapi (Işın tedavisi)</h3>
        <h3>Kemoterapi (İlaç tedavisi)</h3>
        <h3>Hormon tedavisi</h3>
        <h3>Biyolojik tedavi</h3>
    </div>
{% endblock %}
