{% extends "base.html" %}

{% block pagecss %}
    <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/articles.less">
{% endblock %}

{% block articles_url %}
    <a href="kanser_genel_bilgi" class="active">KONULAR</a>
{% endblock %}


{% block submenuBlock %}
    <div id="subMenuBar">
        <div class="container">
            <ul id="articles_menu" class="h_menu">
                <li>{% block articles_genelBilgi_url %}<a href="kanser_genel_bilgi">Kanser Genel Bilgi</a>{% endblock %}</li>
                <li>{% block articles_taramaRehberi_url %}<a href="kanser_tarama_rehberi">Kanser Tarama Rehberi</a>{% endblock %}</li>
                <li>{% block articles_memeKanseri_url %}<a href="meme_kanseri">Meme Kanseri</a>{% endblock %}</li>
                <li>{% block articles_akcigerKanseri_url %}<a href="akciger_kanseri">Akciğer Kanseri</a>{% endblock %}</li>
                <li>{% block articles_kanserDisiGoz_url %}<a href="kanser_disi_goz_hastaliklari">Kanser Dışı Göz Hastalıkları</a>{% endblock %}</li>
                <li class="last">{% block articles_radyasyonOnkolojisi_url %}<a href="radyasyon_onkolojisi">Radyasyon Onkolojisi</a>{% endblock %}</li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}{% endblock %}

