<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Prof. Dr. Ahmet Öber | Onkolog</title>
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/reset.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/960_12_col.css"/>
    <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/style.less">
    <script type="text/javascript" src="{{ STATIC_URL }}less-1.1.5.min.js"></script>
</head>
<body>
<div id="header1">
    <div class="container_12 lightfg">
        <div class="grid_6">MORBI CONDIMENTUM VITAE</div>
        <div class="grid_6">
            <span class="reddot">lorem ipsum dolor sit amet</span>
            <span class="reddot">telefon 0212 274 41 41</span>
        </div>
    </div>
</div>

<div id="header2">
    <div class="container_12">
        <div class="grid_11">
            <div>
                <span>prof. dr.</span><span>AHMET ÖBER</span>
            </div>
            <div>
                <span>ONKOLOJI UZMANI</span>
                <span>Medikal Direktör</span>
            </div>
        </div>
        <div class="grid_1">aAA</div>
    </div>
</div>

<div id="topMenuBar">
    <div class="container_12">
        <div class="grid_12">
            <ul id="top_menu">
                <li>{% block home_url %}<a href="/ahmetober"><span class="linkbox">ANA SAYFA</span></a>{% endblock %}</li>
                <li>{% block articles_url %}<a href="articles"><span class="linkbox">MAKALELER</span></a>{% endblock %}</li>
                <li>{% block cv_url %}<a href="cv"><span class="linkbox">BİYOGRAFİ</span></a>{% endblock %}</li>
                <li>{% block sss_url %}<a href="sss"><span class="linkbox">SSS</span></a>{% endblock %}</li>
                <li>{% block contact_url %}<a href="contact"><span class="linkbox">İLETİŞİM</span></a>{% endblock %}</li>
            </ul>
        </div>
    </div>
</div>

<div id="content">
    <div class="container_12"></div>
</div>

<div id="footer">
    <div class="container_12"></div>
</div>

<div class="content">
    <div class="container_12">
        {% block content %}{% endblock %}
    </div>
</div>

<div class="footer">
    <div id="bottomMenuBar">
        <div class="container_12">
            <div class="grid_12">
                <ul id="bottom_menu">
                    <li><a href="/ahmetober"><span class="linkbox">Ana Sayfa</span></a></li>
                    <li><a href="articles"><span class="linkbox">Makaleler</span></a></li>
                    <li><a href="cv"><span class="linkbox">Biyografi</span></a></li>
                    <li><a href="sss"><span class="linkbox">SSS</span></a></li>
                    <li><a href="contact"><span class="linkbox">İletişim</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container_12">
        <div class="grid_12">
            <p class="text-center">Copyright @ 2011 Ahmet Öber</p>

            <p class="text-center">Tüm hakları saklıdır.</p>
        </div>
    </div>
</div>
</body>
</html>