<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Prof. Dr. Ahmet Öber | Onkolog</title>
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/reset.css"/>
    <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/style.less">
    {% block pagecss %}{% endblock %}
    {% block subpagecss %}{% endblock %}
    <script type="text/javascript" src="{{ STATIC_URL }}less-1.1.5.min.js"></script>
    <!--
    <script type="text/javascript" src="http://use.typekit.com/kud1hrj.js"></script>
    <script type="text/javascript">try {
        Typekit.load();
    } catch (e) {
    }</script>-->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-27677088-1']);
        _gaq.push(['_setDomainName', 'ahmetober.com']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>
<body>
<div id="header1">
    <div class="container">
        <span>PRIMUM NON NOCERE</span>
        <span class="reddot">telefon 0212 274 41 41</span>
        <span class="reddot">lorem ipsum dolor sit amet</span>
    </div>
</div>

<div id="header2">
    <div class="container">
        <div id="nameBox">
            <!-- <img src="{{ STATIC_URL }}img/title01.png" alt="Prof.Dr. Ahmet ÖBER" width="288" height="30"/> -->
            <span id="title">PROF. DR.</span>
            <span id="name">AHMET ÖBER</span>
        </div>
        <div id="sizeChangerBox">
            <span onclick="var p = document.getElementsByTagName('p'); for(var i = 0; i < p.length; i++) {p[i].style.fontSize = '75%';p[i].style.lineHeight = '1.375em'}" class="smallText textSizeChanger">A</span>
            <span onclick="var p = document.getElementsByTagName('p'); for(var i = 0; i < p.length; i++) {p[i].style.fontSize = '100%';p[i].style.lineHeight = '1.375em'}" class="mediumText textSizeChanger">A</span>
            <span onclick="var p = document.getElementsByTagName('p'); for(var i = 0; i < p.length; i++) {p[i].style.fontSize = '125%';p[i].style.lineHeight = '1.5em'}" class="largeText textSizeChanger">A</span>
        </div>
    </div>
</div>

<div id="topMenuBar">
    <img src="{{ STATIC_URL }}img/pulse.jpg" width="132" height="24" alt="pulse"/>

    <div class="container">
        <ul id="top_menu" class="h_menu">
            {% block home_url %}<li><a href="/">ANA SAYFA</a></li>{% endblock %}
            {% block konular_url %}<li><a href="/konular/kanser_genel_bilgi">KONULAR</a></li>{% endblock %}
            {% block cv_url %}<li><a href="/cv">ÖZGEÇMİŞ</a></li>{% endblock %}
            {% block sorular_url %}<li><a href="/sorular">SORULAR</a></li>{% endblock %}
            {% block iletisim_url %}<li><a href="/iletisim">İLETİŞİM</a></li>{% endblock %}
            <a href="/todo">TODO</a></li>
        </ul>
    </div>
</div>
{% block submenuBlock %}

{% endblock %}

<div id="content">
    <div class="container">
        {% block content %}{% endblock %}
        {% block disqus %}{% endblock %}
    </div>
</div>

<div id="footer">
    <div class="container">
        <div class="left">
            <span>Copyright @ 2011 Ahmet Öber | Tüm hakları saklıdır.</span>
        </div>
        <div id="bottomMenuBar" class="right">
            <ul id="bottom_menu" class="h_menu">
                <li><a href="/">Ana Sayfa</a></li>
                <li><a href="/konular/kanser_genel_bilgi">Konular</a></li>
                <li><a href="/cv">Özgeçmiş</a></li>
                <li><a href="/sorular">Sorular</a></li>
                <li><a href="/iletisim">İletişim</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>