{% extends "base.html" %}

{% block title_block %} | Özgeçmiş{% endblock %}

{% block meta_description %}Prof Dr. Ahmet Öber'in özgeçmişi. Kısa yaşam öyküsü, akademik çalışmaları ve idari görevleri.{% endblock %}

{% block cv_url %}
    <li class="active"><a href="/cv" class="active">ÖZGEÇMİŞ</a></li>
{% endblock %}

{% block pagecss %}
    <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/cv.less" />
{% endblock %}

{% block content %}
    <h1>Özgeçmiş</h1>
    <div id="summaryBox">
        <div class="left">
            <div id="imgContainer">
                <img src="{{ STATIC_URL }}img/konusma.jpg" alt="konusma" width="370" height="178"/>
            </div>
            <p id="summaryBoxTitle">Prof. Dr. Ahmet Öber</p>

            <p><span class="summaryBoxLabel">Doğum tarihi:</span><span>07.04.1951</span></p>
            <p><span class="summaryBoxLabel">İlkokul eğitimi:</span><span>Bursa, Setbaşı İlkokulu</span></p>
            <p><span class="summaryBoxLabel">Ortaokul ve lise:</span><span>Kadıköy Maarif Koleji, 1969</span></p>
            <p><span class="summaryBoxLabel">Üniversite:</span><span>Cerrahpaşa Tıp Fakültesi, 1976</span></p>
        </div>
        <div class="right">
            <p>
                Prof. Dr. Ahmet Öber, 1951 yılında Bursa’da doğdu. Lise eğitimini Kadıköy Maarif Koleji, yeni adı ile Kadıköy Anadolu
                Lisesi'nde aldı.
            </p>

            <p>
                Fakülte ve radyasyon onkolojisi uzmanlığını Cerrahpaşa Tıp Fakültesi'nde yaptı. The British Council bursunu kazanarak 1 yıl
                Londra’da uzmanlık sonrası eğitimine devam etti.
            </p>

            <p>
                Akademik hayatını Cerrahpaşa Tıp Fakültesi’nde sürdürdü. 1985 yılında doçent, 1992 yılında profesör oldu. Mensubu olduğu
                İstanbul Üniversitesi, Cerrahpaşa Tıp Fakültesi, meslek derneklerinde yöneticilik görevleri yaptı.
            </p>

            <p>
                2008 yılında Cerrahpaşa Tıp Fakültesi’ndeki profesörlük görevinden kendi isteği ile ayrıldı. 1998 yılında başlattığı Meme
                Kanserinde Sürekli Eğitim faaliyeti koordinatörlüğünü halen sürdürmektedir.
            </p>

            <p>
                Özel hekim olarak çalışmakta ve tedavilerini teknolojik gereklere bağlı olarak çeşitli tedavi merkezlerinde
                yürütmektedir.
            </p>
        </div>
    </div>
    <div id="detailBox">
        <div class="left">
            <h3>Fakülte sonrası eğitim ve akademik çalışma</h3>

            <h3>Uzmanlık:</h3>
            <span>Cerrahpaşa Tıp Fakültesi,</span><br />
            <span>Radyoterapi Bilim Dalı (1976-1981)</span>

            <h3>Araştırma görevlisi:</h3>
            <span>Cerrahpaşa Tıp Fakültesi Radyasyon Onkolojisi</span><br />
            <span>Anabilim Dalı (08.1982-07.1984)</span>

            <h3>Yurtdışı eğitim:</h3>
            <span>The British Council Bursu, Londra,</span><br />
            <span>The Royal Marsden Hospital (11.1982-11.1983)</span>

            <h3>Yardımcı doçent:</h3>
            <span>Cerrahpaşa Tıp Fakültesi Radyasyon Onkolojisi</span><br />
            <span>Anabilim Dalı (07.1984-10.1985)</span>

            <h3>Doçent:</h3>
            <span>Cerrahpaşa Tıp Fakültesi Radyasyon Onkolojisi</span><br />
            <span>Anabilim Dalı (10.1985-10.1992)</span>

            <h3>Profesör:</h3>
            <span>Cerrahpaşa Tıp Fakültesi Radyasyon Onkolojisi</span><br />
            <span>Anabilim Dalı (10.1992)</span>

            <h3>Anabilim Dalı Başkanı:</h3>
            <span>Cerrahpaşa Tıp Fakültesi Radyasyon Onkolojisi</span><br />
            <span>Anabilim Dalı (01.2000-01.2006)</span>

            <h3>Son akademik görev:</h3>
            <span>Cerrahpaşa Tıp Fakültesi Radyasyon Onkolojisi</span><br />
            <span>Anabilim Dalı, Profesör, (Ocak 2008)</span>

        </div>
        <div class="right">
            <h3 class="first">İdari görevler</h3>

            <p>Meme Kanserinde Sürekli Eğitim Toplantıları Koordinatörlüğü (1998-Devam)</p>
            <p>Türkiye Bilimler  Akademisi Kanser Çalışma Gurubu Üyeliği (2002-2011)</p>
            <p>İtalyan Hastanesi Medikal Direktör / Koordinator (2007 - 2010)</p>
            <p>Radyasyon Onkolojisi Derneği Yönetim Kurulu Üyeliği (1996-2006)</p>
            <p>Cerrahpaşa Tıp Fakültesi Etik Kurul Üyeliği (1996-2005)</p>
            <p>İstanbul Tabip Odası Etik Kurul Üyeliği (2003-2004)</p>
            <p>Radyasyon Onkolojisi Derneği Başkanı (2002-2004)</p>
            <p>Cerrahpaşa Tıp Fakültesi Vakfı Yönetim Kurulu Üyeliği (1996-2003)</p>
            <p>Kanserle Savaş Vakfı Yönetim Kurulu Üyeliği (1990-1998)</p>
            <p>Cerrahpaşa Tıp Fakültesi Fakülte Kurulu Üyeliği (1988-1991)</p>
            <p>Kanser Derneği Yönetim Kurulu Üyeliği (1985-1990)</p>

            <h3>Medeni hali</h3>

            <p>Evli, 1 çocuklu</p>

            <h3>Hobileri</h3>

            <p>Yelken ve fotoğrafçılık</p>

        </div>
    </div>
{% endblock %}