{% extends "base.html" %}

{% block cv_url %}
    <a href="/ahmetober/cv" class="active">ÖZGEÇMİŞ</a>
{% endblock %}

{% block pagecss %}
    <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/cv.less">
{% endblock %}

{% block content %}
    <h1>Özgeçmiş</h1>
    <div id="summaryBox">
        <div class="left">
            <div id="imgContainer">
                <img src="{{ STATIC_URL }}img/konusma.jpg" alt="konusma" width="370" height="178"/>
            </div>
            <p id="summaryBoxTitle">Prof. Dr. Ahmet Öber</p>

            <p><span class="summaryBoxLabel">Doğum tarihi:</span><span>07.04.1951</span></p>
            <p><span class="summaryBoxLabel">İlkokul eğitimi:</span><span>Bursa, Setbaşı İlokulu</span></p>
            <p><span class="summaryBoxLabel">Ortaokul ve lise:</span><span>Kadıköy Maarif Koleji, 1969</span></p>
            <p><span class="summaryBoxLabel">Üniversite:</span><span>Cerrahpaşa Tıp fakültesi, 1976</span></p>
        </div>
        <div class="right">
            <p>
                Prof. Dr. Ahmet Öber, 1951 yılında Bursa’da doğdu. Lise eğitimini Kadıköy Maarif Koleji, yeni adı ile Kadıköy Anadolu
                Lisesinde aldı.
            </p>

            <p>
                Fakülte ve radyasyon onkoljisi uzmanlığını Cerrahpaşa Tıp Fakültesin’de yaptı. The British Council bursunu kazanarak 1 yıl
                Londra’da uzmanlık sonrası eğitimine devam etti.
            </p>

            <p>Akademik hayatını Cerrahpaşa Tıp Fakültesi’nde sürdürdü. 1985 yılında doçent, 1992 yılında profesör oldu. Mensubu olduğu
                İstanbul Üniversitesi, Cerrahpaşa Tıp Fakültesi, meslek derneklerinde yöneticilik görevleri yaptı.
            </p>

            <p>2008 yılında Cerrahpaşa Tıp fakültesi’ndeki profesörlük görevinden kendi isteği ile ayrıldı. 1998 yılında başlattığı Meme
                Kanserinde Sürekli Eğitim faaliyeti koordinatörlüğünü halen sürdürmektedir.
            </p>

            <p>Özel hekim olarak çalışmakta ve tedavilerini teknolojik gereklere bağlı olarak çeşitli tedavi merkezlerinde
                yürütmektedir.
            </p>
        </div>
    </div>
{% endblock %}