{% extends "base.html" %}

{% block iletisim_url %}
    <li class="active"><a href="/iletisim" class="active">İLETİŞİM</a></li>
{% endblock %}


{% block content %}

    <div style="float: left;">
        <h1 style="margin-bottom: 1em;">İletişim</h1>

        <h3>Prof. Dr. Ahmet Öber</h3>

        <p>
            Tel: 0212 2744141(pbx)
        </p>

        <p>
            Büyükdere Cad. Arkan Apt. <br/>
            No:34 Da:7 Mecidiyeköy <br/>
            34394 İSTANBUL
        </p>
    </div>

    <div id="kroki" style="margin: 1em 0 0 2em; float: left;">
        <img src="{{ STATIC_URL }}img/kroki.jpg" width="500" height="288" alt="kroki"/>

        <p >
            <a style="color: #6a6a6a" target="_blank"
               href="http://maps.google.com/maps?f=q&source=embed&hl=tr&geocode=&q=B%C3%BCy%C3%BCkdere+Cd+No:34&aq=&sll=41.067142,29.003756&sspn=0.008687,0.02105&vpsrc=6&ie=UTF8&hq=&hnear=Fulya+Mh.,+B%C3%BCy%C3%BCkdere+Cd+34,+Istanbul,+T%C3%BCrkiye&t=m&ll=41.066895,28.994036&spn=0.011325,0.018239&z=15&iwloc=A">Google
                Haritaları'nda görmek için tıklayınız.</a>
        </p>
    </div>
{% endblock %}