{% extends "base.html" %}

{% block home_url %}
    <li class="active"><a href="/" class="active">ANA SAYFA</a></li>
{% endblock %}

{% block pagecss %}
    <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}css/mainpage.less">
{% endblock %}


{% block content %}
    <div class="left">
        <img src="{{ STATIC_URL }}img/home_portrait.jpg" width="324" height="299" alt="home_portrait"/>
    </div>
    <div class="right">
        <h1 class="bookmark">Primum non nocere...</h1>

        <p class="first">Bu, tıp eğitimine başlarken bize ilk öğretilen kuraldır. Yani "Öncelikle zarar verme!".
            Yaptığın tedavi veya girişim, yarar umarken zarar vermesin, hastayı daha kötü etmesin. Doktor olarak, profesyonel hayatımız hep
            bu hesabı yapmakla geçer; yapılacak tedavinin faydası ne olur, herhangi bir zararımız dokunur mu? Bizimle aynı eğitimden geçmiş
            olmasalar da, yaşam tecrübeleri doğrultusunda, hastalarımız da tedavi kararlarını verirken bizden bu sorunun cevabını net olarak
            almayı beklerler.</p>

        <p>XX yıldır, tıbbın hastayı ve yakınlarını en çok korkutan alanında, onkolojinin temel dallarından birinde çalışıyorum. Bu süre
            zarfında, ülke şartlarıyla birlikte kurumlar da birçok değişikliğe uğradı. Bugünlerde çoğu doktorun son görev yerini belirlemek
            ciddi bir emek gerektirir hale geldi. En azından, benim çevremden aldığım serzenişler bu yönde.</p>

        <p>Bu gelişmeler doğrultusunda, Aralık 2011’e kadar reddettiğim, internette bir bilgilendirme sayfası yapma fikrine sıcak bakmaya
            başladım ve sık rastlanan kanserlerle ilgili bazı bilgileri sizlerle paylaşmaya karar verdim.
            Öncelikle zarar vermeme ilkesini de en başa koydum.</p>
    </div>
{% endblock %}