{% extends "base.html" %}

{% block content %}
    <div class="container">
    <br />
    <ul>
        <li>Butun metinleri proofing'den gecir.</li>
        <li>Google analytics ekle</li>
        <li>Konulara'a ve iletisim'e form ekle</li>
        <li>wikipedia'ya link koy</li>
        <li>underline'lari span'e koy u'lari kaldir</li>
        <li>document mode'u html'e gecir</li>
        <li><strike>header'daki prof.dr.'u PROF.DR. yap</strike></li>
        <li>krokiyi murat'a gonder</li>
        <li>html validation'dan gecir her sayfayi</li>
        <li><strike>ozgecmis sayfasindaki sasal sisesi silinebilir mi?</strike></li>
        <li>optimize file requests from server by merging css files</li>
        <li>ozgecmis birinci tekil sahis?</li>
        <li>sss'in linklerini sorular olarak degistir (seo)</li>

    </ul>
    <br />
    </div>
{% endblock %}