{% extends "base.html" %}

{% block content %}
    <div class="container">
    <br />
    <ul>
        <li>Butun metinleri proofing'den gecir.</li>
        <li>Google analytics ekle</li>
        <li>Konulara'a ve iletisim'e form ekle</li>
        <li>wikipedia'ya link koy</li>
        <li>underline'lari span'e koy u'lari kaldir</li>
        <li>document mode'u html'e gecir</li>
        <li><strike>header'daki prof.dr.'u PROF.DR. yap</strike></li>
        <li>header'daki prof.dr. Ahmet Ober'i img yapmayi dusun</li>
        <li><strike>krokiyi murat'a gonder</strike></li>
        <li>html validation'dan gecir her sayfayi</li>
        <li><strike>ozgecmis sayfasindaki sasal sisesi silinebilir mi?</strike></li>
        <li>optimize file requests from server by merging css files</li>
        <li>ozgecmis birinci tekil sahis?</li>
        <li>sss'in (python'daki) linklerini sorular olarak degistir (seo)</li>
        <li>sss'deki sorulara ust'e cik linki koy</li>
        <li>sss'deki sorulari paylas fasilitesi koy??</li>
        <li>alt menüyü kontrol et. linkler</li>
        <li></li>
    </ul>
    <br />
    </div>
{% endblock %}