{% extends "base.html" %}

{% block content %}
    <div class="container">
    <br />
    <ul>
        <li>meta description'i koy!!!</li>
        <li>document mode'u html'e gecir</li>
        <li>optimize file requests from server by merging css files</li>
        <li>wikipedia'ya link koy</li>
        <li>underline'lari span'e koy u'lari kaldir</li>
        <li>header'daki prof.dr. Ahmet Ober'i img yapmayi dusun</li>
        <li><strike>ozgecmis birinci tekil sahis?</strike></li>
        <li>cookie'ler icin db'yi mysql'e gecir</li>
        <li>sss'deki sorulari paylas fasilitesi koy??</li>
        <li>header1'deki lorem ipsum'u kaldir, ayrica teli sor</li>
        <li>kubra'ya yonlu bir mail adresi</li>
        <li><strike>Butun metinleri proofing'den gecir.</strike></li>
        <li><strike>Google analytics ekle</strike></li>
        <li><strike>Konulara'a ve iletisim'e form ekle</strike></li>
        <li><strike>html validation'dan gecir her sayfayi</strike></li>
        <li><strike>header'daki prof.dr.'u PROF.DR. yap</strike></li>
        <li><strike>krokiyi murat'a gonder</strike></li>
        <li><strike>ozgecmis sayfasindaki sasal sisesi silinebilir mi?</strike></li>
        <li><strike>sss'in (python'daki) linklerini sorular olarak degistir (seo)</strike></li>
        <li><strike>sss'deki sorulara ust'e cik linki koy</strike></li>
        <li><strike>alt menüyü kontrol et. linkler</strike></li>
        <li><strike>hukuki tarafini sordur</strike></li>
        <li>Sticky scroll <a href="http://imakewebthings.github.com/jquery-waypoints/">link</a>
            <ul style="text-indent: 1em;">
                <li><strike>menu</strike></li>
                <li>sizeChanger</li>
                <li>analytics event when reached the bottom</li>
            </ul>
        </li>
        <li><strike>Babamin bilg'ine kurulacaklar</strike>
            <ul style="text-indent: 1em;">
                <li><strike>site linki</strike></li>
                <li><strike>disqus linki</strike></li>
                <li><strike>alwaysdata linki/ restart process</strike></li>
                <li><strike>template edit icin WinSCP</strike></li>
            </ul>
        </li>
    </ul>
    <br />
    </div>
{% endblock %}