{% extends "konular.html" %}
{% block title_block %} | Akciğer Kanseri{% endblock %}
{% block meta_description %}Akciğer kanseri hakkında bilgiler. Sıklık, bulgular, korunma. Tanı ve tedavi.{% endblock %}
{% block konular_akcigerKanseri_url %}<a href="akciger_kanseri" class="active">Akciğer Kanseri</a>{% endblock %}

{% block disqus_identifier %}var disqus_identifier = '/konular/akciger_kanseri';{% endblock %}

{% block content %}
    <h1>Akciğer Kanseri</h1>

    <h3>Sıklık, bulgular, korunma</h3>

    <p>
        Kadın ve erkekte ikinci en sık görülen kanser türüdür. Oluşumunda sigara en önemli etkendir. Ayrıca asbestin de akciğer zarı kanseri
        yaptığı bilinmektedir.
    </p>

    <p>
        Öksürük, nefes darlığı, göğüs ağrısı, balgamda kan görülmesi, ses kısıklığı en sık belirtilerdir. Bu bulguların mutlaka akciğer
        kanserine bağlı olması gerekmez. Soğuk algınlığı, zatürree gibi hastalıklar da aynı bulguları verebilir.
    </p>

    <p>
        Korunma da en önemli tedbir aktif ve pasif sigara içiciliğinden kurtulmaktır. Asbest kullanılan iş kolları yasal kontrol altındadır
        ancak kişinin de bu konuda bilinçli olması gerekir.
    </p>

    <p>
        Akciğer kanserlerinde, korunma amaçlı, belirlenmiş tarama ve düzenli kontrol programları yoktur. Düzenli yapılan akciğer filim ve
        bilgisayarlı tomografilerinin yararı açısından tıbbi görüş birliği oluşmamıştır.
    </p>

    <h3>Tanı ve tedavi</h3>

    <p>
        Akciğer kanserinde ilk tetkik, kuşkulanılan olguda, basit akciğer filimi ve bilgisayarlı tomografidir. Filimler sonucunda kuşku
        kuvvetli ise kesin tanı ve hücre tipini belirlemek için doku örneği alınır. Bu, şartlara göre, bronkoskopi, akciğer zarındaki
        sıvıdan örnek alınması, balgam incelemesi veya akciğerden iğne ile doku örneği alınarak yapılır.
    </p>

    <p>
        Akciğer kanserleri küçük hücreli kanserler ve küçük hücreli dışı kanserler (epidermoid, skuamoz, adenokanser) olarak iki ana guruba
        ayrılır.
    </p>

    <p>
        Tanı konduktan sonra tedavi yaklaşımı için hastalığın yaygınlığının belirlenmesi gerekir. Detaylı muayene sonrası, yapılmadıysa
        duruma göre akciğer ve karın tomografisi, PET-BT, kemik sintigrafisi, karaciğer ultra sonografisi, beyin MR tetkiki ve kan
        tahlilleri istenir. Bu tetkiklerin mutlaka hepsi yapılmaz.
    </p>

    <p>
        Hücre tipi genel tedavi yaklaşımında en önemli belirleyicidir. Cerrahi, ilaç tedavisi ve radyoterapi, hücre tipi ve
        hastanın durumuna göre ana tedavi seçenekleridir. Gereğine göre bu yöntemler tek başına veya birlikte kullanılır. Hasta ilk başta
        ameliyat edilebilir, gerekirse ilaç ve radyoterapi ile hastalık küçültülerek (neo-adjuvan tedavi) ameliyat sonraya bırakılabilir. Ya
        da radyoterapi ve kemoterapi ameliyat yapılmaksızın tek başına veya birlikte kullanılabilir.
    </p>

    <p>
        Tüm tedavi bittikten sonra hasta ömür boyu düzenli aralıklarla, gerekli tetkikler istenerek takip edilir.
    </p>
{% endblock %}