{% extends "konular.html" %}

{% block konular_taramaRehberi_url %}<a href="kanser_tarama_rehberi" class="active">Kanser Tarama Rehberi</a>{% endblock %}

{% block disqus_identifier %}var disqus_identifier = '/konular/kanser_tarama_rehberi';{% endblock %}

{% block content %}
    <h1>Kanser Tarama Rehberi</h1>


    <h3>Genel bilgi</h3>

    <p>
        Hiç şikayeti olmayan kişilerde, kanserin erken teşhis edilmesi amacıyla yapılan düzenli muayene ve tetkiklere kanser taraması
        denmektedir. Bu şekilde hastalığın erken tanısı ile yaşam kalitesinin korunması ve hastalığa bağlı ölümlerin azaltılması amaçlanır.
        Tarama yapılacak kanser türünün tanımlanmış bir programı ve o cins kanseri belirli aralıklarla taramanın çalışmalarla gösterilmiş
        olması gerekir. Kişinin evhamla veya bir endişe ile bir kanser türünde tetkik talebi tarama değildir.
    </p>

    <p>
        Tek yöntem ile kanser taraması mümkün olmadığı gibi, kanser tanısında kullanılan güvenilir yöntemlerin tarama amacı ile kullanılması
        da her kanser türünde geçerli değildir.
    </p>

    <p>
        Bugün, rahim ağzı, meme, kolon ve prostat kanserlerine yönelik kanser taramalarının yapılması gerektiği ve etkinliği tıbbi
        çevrelerde kabul görmektedir. Yumurtalık, akciğer ve endometrium kanserlerine yönelik tarama programları belirlenmemiştir,
        araştırmalar ve tartışmalar devam etmektedir.
    </p>

    <p>
        Tümör belirteci (marker) olarak bilinen, kanda fazla miktarda olması kişide kanser varlığına işaret edebilecek CA 15-3, CA – 125,
        CEA, CA 19-9 gibi tetkiklerin kanser taramasında kullanılması yanlıştır. Kanser tanısı almamış kişilerde yapılmaması gerekir. Bazı
        kişilerde kanser olmadığı halde, tümör belirtecinin düzeyi yüksek olarak ölçülmektedir. Bu kişilerde kanser varlığını araştırmak
        için çok ayrıntılı tetkikler yapılmakta, bunların hiçbirinde kanser saptanmasa bile sonraki yıllarda aynı tetkikler tekrar
        edilmektedir. Onkologların bu tetkikleri istemelerindeki amaç, kanser tedavisi gören hastaların tedaviye yanıt verip vermedikleri
        konusunda fikir sahibi olmak veya iyileştiği bilinen hastalarda nükslerin erkenden saptanıp tekrar başarıyla tedavi edilmesini
        sağlamaktır.
    </p>

    <h3>Meme kanseri taraması</h3>

    <p>
        Kişinin özel bir durumu olmadıkça meme kanseri taraması 40 yaşında başlatılır. Yılda bir sefer meme muayenesi yapılır, mamografi ve
        doktorun gerekli gördüğü durumlarda ultrasonografi çekilir. Yıllık kontrolların 2 senede bir yapılması ve yıllık kontrolların 50
        yaşında başlatılması önerileri de vardır. Mamografilerin mutlaka muayene ile tamamlanması gerekir.
    </p>

    <p>
        Ailevi yatkınlık, genetik risk ve meme kanseri açısından riskli olgularda özeliklerine göre sıklık ve yöntemler açısından farklı
        yaklaşımlar mevcuttur.
    </p>

    <h3>Kolon ve rektum kanseri taraması</h3>

    <p>
        Elli yaşından itibaren erkek ve kadınların düzenli aralıklarla taranması gerekmektedir. Bunun için, aşağıdaki tetkiklerin yapılması
        gereklidir. Hangi tetkikin yapılması gerektiği, kişinin durumuna göre değişebilir. Her 10 yılda bir kolonoskopi: Rektumdan
        başlayarak kalın barsağın tamamı, ince barsakla birleştiği bölgeye (çekum) kadar, aşağıdan yukarıya doğru gözle izlenir, şüpheli
        bölgelerden parça alınarak patolojik incelemeye gönderilir. Henüz kansere dönüşmemiş küçük polipler saptanıp çıkarılabilir.
    </p>

    <p>
        Ailesinde kalın barsak kanseri olan kişiler: Birinci derecede 1 akrabada kolorektal kanser varsa, ikinci derece 2 akrabada
        kolorektal kanser varsa veya birinci derece 1 akrabada 60 yaşından sonra adenomatöz polip görüldüyse tarama tetkikleri 40 yaşından
        itibaren başlatılır. Birinci derece 2 akrabasında kolorektal kanser olan veya birinci derece 1 akrabada 60 yaşından gençken
        adenomatöz polip saptanmışsa, 40 yaşından itibaren veya daha erken olacaksa bu akrabada kanser/polip teşhis yaşından 10 sene önceki
        yaştan başlayarak, her 5 senede bir kolonoskopi yapılmalıdır. İkinci veya üçüncü derece 1 akrabada kolorektal kanser varsa, ortalama
        riskteki kişi gibi tarama yapılır.
    </p>

    <p>
        Ailesinde polipozis olan kişiler: Ailesel geçişli polipozis koli (kolonda, ortalama 40 yaşında kansere dönüşecek yüzlerce polip
        olan, tüm kolon kanserlerlerinin yüzde birine sebep olan, adenomatöz polipozis koli (APC) geninde bir bozukluğun kalıtımla çocuklara
        aktarılmasıyla ortaya çıkan bir hastalık – ismi FAP olarak kısaltılır ), Gardner sendromu (poliplerle birlikte, ciltte, kemiklerde,
        yumuşak dokularda kitleler de vardır) veya Turcot sendromu olan kişilerde 10 yaşından başlayarak her yıl sigmoidoskopi yapılması
        gerekir. APC genindeki daha değişik bir bozukluğa bağlı, ismi AAPC olarak kısaltılan bir hastalıkta, ortalama 55 yaşında kansere
        dönüşecek adenomatöz poliplere rastlanır. Bu kişilerde 20 yaşından itibaren her yıl kolonoskopi yapılmalıdır. Ailesel geçişli
        polipsiz kolon kanseri (HNPCC) olan kişilerde, 20 yaşından itibaren veya daha erken olacaksa, tanı konan en genç akrabada görülme
        yaşından 10 sene önce başlamak üzere, 1-2 yılda bir kolonoskopi yapılması önerilir.
    </p>

    <p>
        Kendisinden adenomatöz polip çıkarılan bunun dışında bir risk faktörü olmayan kişilerde polipin özelliklerine göre değişmekle
        birlikte, 2 veya 3 yıl sonra tekrar kolonoskopi yapılması önerilmektedir.
    </p>

    <h3>Prostat kanseri taraması</h3>

    <p>
        50 yaşından itibaren erkeklerde parmakla prostat muayenesi ve kanda prostata özgü antijen (PSA) bakılması prostat kanserinin erken
        teşhis edilmesini sağlayabilir. 75 yaşındaki bir erkekte PSA düzeyi 3 ng/mL altında ise, bu kişide saldırgan bir prostat kanseri
        oluşmayacağı ve PSA takibinin bırakılması gerektiği yönünde yayınlar vardır. PSA tetkikinin kimlerde ve ne sıklıkta istenmesi
        konusunda, deneyimli bir doktorun hastaya göre değerlendirilerek karar vermesinde fayda vardır.
    </p>

    <h3>Rahim ağzı (serviks) kanseri taraması</h3>

    <p>
        Smear (PAP) testi: 21 yaşını geçmeden, ilk cinsel ilişkiden 3 sene sonra başlayarak yılda bir PAP testi yapılır ve yılda bir
        tekrarlanabilir. Bir diğer yaklaşım 30 yaşından itibaren, eğer arka arkaya 3 testte anormallik saptanmazsa takip aralığı 2-3 yıla
        çıkarılmasıdır. Bu kişilerde aynı zamanda hücrelerde HPV virüs (insan papilloma virüsü) de saptanmazsa takibin 3 yıldan sık
        yapılmasına gerek yoktur.
    </p>

    <p>
        Rahim ağzı kanserine yakalanma olasılığı ortalamadan çok olan kişilerde tarama her yıl yapılmalıdır.
    </p>

    <p>
        70 yaşını geçmiş, son 10 yılda smear testinde hiçbir olumsuzluk olmayan, son 3 smear testi normal kadınlarda bu testler takip eden
        jinekoloğu uygun gördüğü takdirde daha az sıklıkta yapılabilir.
    </p>

    <h3>Cilt kanseri</h3>

    <p>
        Ciltte şüpheli bölgeler, iyileşmeyen yaralar, benlerde değişiklikler gözlenirse bir doktora görünmek gerekir.
    </p>

    <h3>Endometrium (rahim içi), over (yumurtalık) ve akciğer kanserleri</h3>

    <p>
        Bu hastalıklar sebebiyle yapılan tarama testlerinin henüz faydası gösterilemediğinden önerilen belli bir program yoktur. Şikayeti
        olmayan kişilerde akciğer kanserine yönelik tarama tetkiklerinin bir yararı gösterilememiştir.
    </p>


{% endblock %}