{% extends "konular.html" %}
{% block meta_description %}Kanser dışı göz hastalıkları hakkında genel bigi. {% endblock %}
{% block title_block %} | Kanser Dışı Göz Hastalıkları{% endblock %}
{% block konular_kanserDisiGoz_url %}<a href="kanser_disi_goz_hastaliklari" class="first active">Kanser Dışı Göz
    Hastalıkları</a>{% endblock %}

{% block disqus_identifier %}var disqus_identifier = '/konular/kanser_disi_goz_hastaliklari';{% endblock %}
{% block content %}
    <h1>Kanser Dışı Göz Hastalıkları</h1>
	<br />
    <p>
        Radyoterapi kanser dışı hastalıklarda da kullanılmaktadır. En sık kullanım hipertiroidiye bağlı göz hastalığındadır (Grave’s
        oftalmopati, endokrin oftalmopati). Hipertiroidisi olan hastaların yaklaşık %15 inde göz bulguları oluşabilir. Grave’s hastalığının
        ortaya çıkması bazen tiroid hastalığı tanısı daha konmadan, bazen eşzamanlı bazen de yıllarca sonradır. Göz bulgularının düzelmesi
        esas hastalığın tedavisinden etkilenmez. Hipertiroidi ilaç, radyoaktif iyot veya ameliyatla tamamen düzelse bile göz bulguları
        ortaya çıkabilir veya mevcut bulgular ilerleyebilir. Gözlerde dışa fırlama, yaşarma, göz kapaklarında şişme ve çift görme en sık
        rastlanan bulgulardır. Genel yaklaşım kortizon tedavisi ile birlikte düşük doz ışın tedavisi yapılmasıdır. Tek başına kortizon
        tedavisi alan olgularda başlangıçta bulgular gerilese de ilaç kesilince ışın tedavisi yapılmamışsa tekrar ortaya çıkar. Göz
        bulgularının eski olduğu olguların tedaviden yararlanma oranı daha düşüktür.
    </p>

    <p>
        Grave’s oftalmopati dışında gözde yalancı tümörler olabilir (pseudo tumour). Bunlar da kanser dışı hastalıklardır. Benzer şekilde
        tedavi edilirler.
    </p>
{% endblock %}