{% extends "konular.html" %}

{% block konular_memeKanseri_url %}<a href="meme_kanseri" class="active">Meme Kanseri</a>{% endblock %}

{% block disqus_identifier %}var disqus_identifier = '/konular/meme_kanseri';{% endblock %}

{% block content %}
    <h1>Meme Kanseri</h1>

    <br/>
    <p>
        Kadınlarda en sık görülen kanser türüdür. Sıklığı 40 yaşından sonra artmaya başlar. Erkeklerde çok daha seyrektir.
    </p>

    <h3>Riskler</h3>

    <ul>
        <li>Daha önce geçirilmiş meme kanseri</li>
        <li>Ailede meme kanseri (anne, kız kardeş)</li>
        <li>Belirlenmiş genetik yatkınlık ( BRCA1 ve BRCA2)</li>
        <li>Yapılan meme biyopsisinde dokusal riskli yapı</li>
        <li>Doğum yapmamış veya emzirmemiş kişiler</li>
        <li>Adetleri erken başlamış (12 yaş) veya geç kesilmiş (55 yaş) olanlar</li>
        <li>Aşırı kilo (obezite)</li>
        <li>Düzenli alkol alımı (haftada 5 gün)</li>
    </ul>

    <p>
        İsminden de anlaşıldığı gibi risk faktörleri benzer kişilerdeki olasılığı arttırır. Hiçbir zaman kişi bazında kesinlik taşımaz.
    </p>

    <h3>Düzenli kontrol ve bulgular</h3>

    <p>
        Meme kanserinde erken teşhis çok önemlidir. Erken teşhis yaşamsal riskler oluşmadan tedaviye başlanmasını ve uygun olgularda memenin
        korunmasını sağlar. Özel riskler olmadıkça her kadının 40 yaşında düzenli doktor muayenesine başlaması gerekir. Annesi 40 yaşın
        altında meme kanseri olan veya tanımlanmış genetik yatkınlığı olanlarda kontrol daha erken yaşlarda başlar.
    </p>

    <p>
        40 yaşla beraber yılda 1 düzenli meme muayenesi ve mamografi/ultrasonografi başlar. Alışılmış düzen yılda 1 tekrarlanmasıdır. Ancak
        son yıllarda 2 yılda bir yapılacak mamografi/ultrasonografinin yeterli olacağı yönünde tavsiyeler mevcuttur.
    </p>

    <ul>
        <li>Kanlı meme başı akıntısı</li>
        <li>Memede veya koltuk altında ele gelen kitle</li>
        <li>Meme başının gömülü kalması</li>
        <li>Meme cildinde 1 bölgede çekinti</li>
        <li>Meme cildinde kızarıklık, portakal kabuğuna benzer görüntü</li>
        <li>Son zamanlarda ortaya çıkan, 2 meme arasında büyüklük farkı</li>
    </ul>

    <p>
        Doktora hemen başvurmayı gerektiren bulgulardır. Meme ağrısı çoğu zaman kanser dışı sebeplere bağlıdır. Memenin ağrımaması kanser
        olasılığını ortadan kaldırmadığı gibi, tek başına ağrı da kanser bulgusu değildir.
    </p>

    <h3>Tanı ve yayılımla ilgili bazı bilgiler</h3>

    <p>
        Tanı düzenli kontrolü olan kişilerde doktor tarafından, ya da hastanın kuşku ile başvurusu ile başlar. İster ele gelen kitle olsun,
        ister mamografi/ultrasonografi ile saptansın tanı için doku örneği şarttır. Doku örneği duruma göre farklı yaklaşımlarla elde
        edilir. İnce iğne, tru-cut, steriotaksik biyopsi, ROLL gibi çeşitli biyopsi yaklaşımları vardır.
    </p>

    <p>
        Meme kanseri lenf yoluyla koltuk altı, köprücük üstü ve göğüs boşluğu içindeki bazı lenf bezlerine, kan yolu ile kemik, akciğer
        karaciğer beyin gibi organlara yayılır. Yayılımın her türlüsüne metastaz denir. Tedaviyi belirlemek için mutlaka el muayenesi ve
        çeşitli yöntemlerle hastalığın nerelere yayıldığı belirlenmek istenir. Bunun için akciğer ve karın bilgisayarlı tomografisi, kemik
        sintigrafisi, ultrason ve kan tahlilleri yapılabilir. Seçim hastanın durumuna göre yapılır. Hastadaki başvuru sırasındaki tümör
        cinsine ve büyüklüğüne göre bu tetkikler tanı konar konmaz veya ameliyat sonrası yapılır.
    </p>

    <h3>Tedavi</h3>

    <p>
        Meme kanseri tanısı konan her hastada eğer uygunsa bir tür cerrahi girişim mutlaka yapılır. Cerrahi için uygun olmayan olguların bir
        kısmında tümör veya lenf bezelerini küçültmek için cerrahi öncesi kemoterapi veya radyoterapi yapılarak (neoadjuvan, preoperatif)
        hasta cerrahiye uygun hale getirilmek istenir.
    </p>

    <p>
        <b>İnsitu kanser:</b> Kanser hücreleri süt kanalları içindeki döşeyici zarı aşmamıştır. Hücreler kanser hücresidir ancak zar
        aşılmadığı
        için bu tip kanserde lenf bezelerine ve iç organlara metastaz olmaz. Bu hastalar en hafif tedaviyi alırlar ve bunlarda yaygınlık
        araştırmaları yapılmaz. Koltuk altı lenf bezesi örneklemesi bazen yapılır.
    </p>

    <p>
        <b>İnvaziv kanser:</b> Kanser hücreleri süt kanalları içindeki döşeyici zarı aşmıştır. Bu olgularda koltuk altı örneklemesi mutlaka
        yapılır
        ve duruma göre diğer tetkikler de istenebilir.
    </p>

    <h3>Cerrahi</h3>

    <p>
        Uygun olan her olguda ilk tedavi basamağıdır. Çağdaş yaklaşım, zorlayan bulgu olmadıkça meme bütünlüğünün korunmasıdır. Memedeki
        kanseri cerrahisi tümöre yönelik girişimler ve koltuk altı lenf bezeleri için yapılan işlemler olarak iki önemli girişimden oluşur.
        <b>Meme koruyucu cerrahi</b> memenin bütünlüğünün korunduğu yani memenin tümünün alınmadığı ameliyatların genel adıdır. Bu bağlamda
        çeşitli
        teknikler uygulanır. Amaç memenin doğal görünüşünü koruyarak, tümörün emniyet sağlayacak kadar sağlam çevre doku ile
        çıkartılmasıdır. Olgu seçimi doğru yapıldığında tamamen güvenilir bir yöntemdir. Uzun yıllardır uygulanmaktadır. Tümörektomi,
        lumpektomi, kadranektomi, parsiyel mastektomi teknikleri bu kapsam içindedir. Memenin tümünün alındığı ameliyat tiplerinin genel adı
        <b>mastektomidir</b>. <b>Aksiller girişimler</b> koltuk altı bezelerine yönelik işlemleri tanımlar. Koltuk altı bezelerinin
        örneklenmesi için
        memeye boya veya radyoaktif madde verilir. Bu maddeler lenf yolları ile memenin lenf akımını toplayan koltuk altı lenf bezesine
        gider. Ameliyatta bu beze belirlenir ve çıkartılarak ameliyat sırasında incelenir. <b>Sentinel lenf bezi biyopsisi</b> bu işlemin
        tıbbi
        adıdır. Çıkartılan bezede tümör yayılımı görülürse koltuk altı lenf bezelerinin çıkartılması gerekir. Bu işlemin tıbbi adı da
        <b>aksiller diseksiyondur</b>. Sentinel lenf bezi biyopsisi gereksiz yere aksiller diseksiyon yapılmasını önler.
    </p>

    <h3>Radyoterapi</h3>

    <p>
        Memenin korunduğu, yani meme koruyucu cerrahi yapılan olguların büyük bir çoğunluğunda mutlaka yapılır. Farklı teknik ve yaklaşımlar
        olmakla beraber genel tanım ile memenin tümü koruyucu dozda tedavi edilir. Daha sonra tümörün çıkartıldığı bölgeye ek doz verilir.
        Her iki etapta da hasta tedavi masasına yatar ve aygıttan çıkan ışınlar dokuya yöneltilir. Işınların organ içindeki dağılımını
        belirlemek ve sağlıklı organları korumak için ilk önce planlama amaçlı simülasyon yapılır ve bilgisayarlı tomografi çekilir.
        Bilgisayarlı tomografi görüntüleri üzerinde, planlama bilgisayarında, istenen doz dağılımı oluşturulur, korunmak istenen organ ve
        bölgelerdeki doz kontrol edilir ve sınırlanır. İdeal plana ulaşıldıktan sonra tedavi başlar. Bunların hiçbiri vücuda değen, temas
        eden bir işlem değildir, hissedilmez. Gereken olgularda değişik lenf bezi bölgeleri de tedaviye alınır. Oluşabilecek yan etkileri
        önlemek için tedavi günlere bölünür. Haftada 5 gün yapılır.
    </p>

    <h3>Tıbbi tedaviler</h3>

    <p>
        Meme kanserinde ana ögeleri kemoterapi ve hormonoterapidir. Amaç erken evredeki hastalarda olası mikroskobik tümör odaklarının
        ortadan kaldırılması veya geç evrede bilinen, çeşitli yöntemlerle gösterilen metastazların tedavisidir. <b>Kemoterapi</b> tümör
        hücrelerini
        öldürmek için vücuda verilen ilaçlarla yapılan tedavinin genel adıdır. Çeşitli etki mekanizmasına sahip ilaçlardan oluşur.
        Genellikle birkaç ilaç birlikte kullanılarak etkinin arttırılması ve yan etkilerin azaltılması amaçlanır. Son yıllarda belli
        özellikleri taşıyan veya farklı genetik özelliklere sahip tümör hücrelerine yönelik hedeflenmiş tedaviler (targeted therapy)
        geliştirilmiştir. Etkileri daha seçici yan etkileri daha azdır. Anlaşılacağı üzere her olguda kullanılamaz. <b>Hormonoterapi</b>
        için kullanılan ilaçlar vücudun hormonal ortamını değiştirerek veya tümör hücrelerinin hormonları kullanmasını hücre bazında
        engelleyerek etki ederler. Yan etkileri daha az olduğu için uzun süre kullanılırlar. Hormonoterapi ajanlarının etkin olması için
        tümör hücrelerinin hormon algaçlarına ( reseptörlerine ) sahip olması gerekir. Algaçları olmayan olgularda hormonoterapi yapılmaz.
    </p>

    <h3>Takip</h3>

    <p>Meme kanseri tedavisi alan herkes ömür boyu düzgün aralıklarla izlenir. Her kontrolde detaylı muayene ve yılda bir
        mamografi/ultrasonografi yapılır. Klinik kuşku olmadan, sadece kontrol amaçlı çeşitli tetkiklerin yapılması son yıllarda gereksiz
        bulunmaktadır. </p>
{% endblock %}