{% extends "konular.html" %}
{% block title_block %} | Radyasyon Onkolojisi{% endblock %}
{% block konular_radyasyonOnkolojisi_url %}<a href="radyasyon_onkolojisi" class="active">Radyasyon Onkolojisi</a>{% endblock %}

{% block disqus_identifier %}var disqus_identifier = '/konular/radyasyon_onkolojisi';{% endblock %}

{% block content %}
    <h1>Radyasyon Onkolojisi</h1>

    <h3>Radyoterapi nedir?</h3>

    <p>
        Radyoterapi, radyoaktif ışınlarla tedavi, ışın tedavisi, demektir. Tümöre tedavi amacıyla yüksek enerjili ışınlar uygulanır. Amaç kanserli
        hücrelerin ölmesidir. Böylece kanserin büyümesi, üremesi daha sonra vücuda yayılması önlenir. Radyoterapi daha seyrek olarak, kanser
        dışı hastalıklarda da kullanılmaktadır.
    </p>

    <p>
        Radyoterapi; kanserin tedavisinde gereğine göre tek tedavi yöntemi olarak kullanılabilir. Ameliyat öncesi, sonrası ya da kemoterapi
        beraberliğindeki uygulamalar hastanın durumuna göre yapılır. Tek başına yapılmasına veya diğer tedavilerle birleştirilmesine göre
        çeşitli isimler altında gruplanabilir. Kanser tedavisinde sık duyacağınız radyoterapi şekli <b>adjuvan radyoterapi</b>dir. Kısa
        tanımlamayla koruyucu amaçla yapılan tedaviler için kullanılır. Daha önce yapılan cerrahi tedaviden sonra hastada mevcut tıbbi
        yöntemlerle gösterilebilen hastalık yoktur, eğer benzer hastalardan elde edilen bilgilere dayanarak nüks olasılığı yüksekse, hastaya
        koruyucu olarak radyoterapi yapılır ve adjuvan radyoterapi başlığı altında toplanır.
    </p>

    <p>
        Aşağıda size radyoterapi hakkında daha detaylı bilgiler verilmiştir. Bu bilgi aktarımından amaç, duyacağınız bazı terimleri ve
        bilgileri ulaşılabilir kılmaktır. Lütfen en iyi yöntemi seçme düşüncesi ile kendinizi bunaltmayın. En karmaşık ve üstün görünen
        yöntem sizin için gereksiz ve hatta yetersiz olabilir. En iyi, en uygun olandır.
    </p>

    <h3>Radyoterapi en çok hangi olgulara uygulanır?</h3>

    <ul>
        <li>Cilt kanserleri</li>
        <li>Baş-boyun kanserleri</li>
        <li>Beyin tümörleri</li>
        <li>Meme kanseri</li>
        <li>Prostat kanseri</li>
        <li>Mesane kanseri</li>
        <li>Akciğer kanseri</li>
        <li>Kadın hastalıkları kanserleri</li>
        <li>Yumuşak doku tümörleri</li>
        <li>Kemik tümörleri</li>
        <li>Sindirim sistemi kanserleri</li>
        <li>Lenfomalar</li>
        <li>Çocukluk çağı tümörleri</li>
    </ul>

    <h3>Radyoterapi nasıl uygulanır?</h3>

    <p>
        Radyoterapinin en sık uygulama şekli eksternal (dıştan) uygulamadır. Hasta düz bir tedavi masasının üzerine yatar. Makineden çıkan
        ışınlar önceden yapılan planlamaya uyarak hasta bölgeye yöneltilir. İnsan vücudu bu ışınları hissedemez. Tedavi sırasında vücuda
        değen bir şey yoktur; ağrı, sancı duyulmaz. Tedavinin etkisini arttırmak ve yan etkileri azaltmak için radyoterapi seanslara
        bölünerek yapılır. Genel yaklaşım haftada 5 gün tedavi uygulanması, 2 gün vücudun dinlendirilmesidir.
    </p>

    <p>
        Radyoterapinin iki aşaması vardır. İlk aşama planlamadır. Planlama hem ışınlanacak bölge, hem de bu bölgenin içinde veya yakınında
        korunması gereken doku veya organların belirlenmesi ve ışınların mümkün olan en uygun dağılımla yöneltilmesidir. Işınlanan bölge ve
        hastalığın özelliğine göre görüntüleme yöntemleri kullanılarak, planlamaya esas olacak görüntü alınır. Eğer bilgisayarlı planlama
        yapılacaksa planlama için daha önceden çekilmiş olsa dahi; bilgisayarlı tomografi, MR veya PET-CT çekilir. Planlama, sağlık
        fizikçisi ve doktorun birlikte çalışması ile yapılır. Kullanılacak teknik ve merkezin imkanlarına göre, zaman ve emek gerektirir.
    </p>

    <h3>Radyoterapi aygıtları, teknikleri ve bazı terimler</h3>

    <p>
        <b>Lineer akseleratörler:</b> Çağdaş radyoterapide kullanılan standart aygıtlar lineer hızlandırıcılardır (lineer
        accelerator)(LINAC). Bu
        aygıtlardan yüksek enerjili x ışınları ve elektron ışınları elde edilir. Genel tanımlama ile x ışınları derin, elektron ışınları
        yüzeysel bölgeler için kullanılır. Enerji arttıkça ışınların etkin derinliği de artar. Lineer akseleratörler genellikle 2 x ışını,
        5-6 elektron ışını enerji seviyesine sahiptir. Yani kullanım açısından farklı enerji seviyeleri oluşturulabilir.
    </p>

    <p>
        Lineer akseleratörler de yıllar içinde evrime uğramış, çıkan ışının enerjisi yükselirken, tümörü daha iyi saran ve sağlıklı dokuları
        daha iyi koruyabilen teknikler gelişmiştir.
    </p>

    <p>
        Işınlar gereğine göre bir veya daha fazla alan kullanılarak dokuya yöneltilir. Işınların çakıştığı bölgede yoğun, çakışma alanı
        dışındaki bölgede daha düşük doz oluşur. Bu prensip, hem bazı organları korumak, hem de tek giriş durumunda giriş alanının yüksek
        dozdan korunması için gereklidir. Aygıtta oluşturulan ışın ana şekillendirici perde (collimator) ile kare veya dikdörtgen şeklinde
        çıkar. Bu ışını daha şekillendirmek için ışının önüne eski modellerde ağır metallerden yapılmış bloklar konur. Bu bloklar dikdörtgen
        şeklinde hazır veya hastaya özel dökülerek yapılır. Yeni tip lineer akseleratörlerde ise çubuk görünümündeki lifler (multileaf
        collimator)(MLC) alanı tekrar şekillendirmekte kullanılır. Bu liflerin alanı şekillendirmesi artık elle ve uygulayıcı dikkati ile
        değil, tamamen aygıta bilgisayarlı planlamadan gelen bilgi ile oluşur.
    </p>

    <p>
        Blok dökülerek veya MLC’lerin sabit kullanımı ile konformal radyoterapi yapılır. MLC’lerin tedavi sırasında hareket etmesi ile ise
        IMRT yapılabilir. Çağdaş lineer hızlandırıcılar hem konformal, hem de donanıma sahipse IMRT yapabilme becerisine sahiptir.
    </p>

    <p>
        <b>Üç Boyutlu Konformal Radyoterapi:</b> Tümörün farklı şekil ve boyutu nedeniyle düzensiz yapıya sahip olması, tümör çevresindeki
        ve bazen
        içerisindeki komşu sağlıklı dokuların korunması radyoterapide güçlük yaratan en önemli nedenlerdir. Planlama amacı ile çekilmiş BT,
        MR ve PET görüntüleri kullanılarak, 3 boyutlu bilgisayarlı planlama yapılır. Birden fazla alanla tümör ışınlanır. MLC’ler yardımı
        ile ışına daha fazla detay içeren şekil verilir. Böylece tümör ve hedef dokularda radyasyon dozu arttırılarak tedavide başarı
        şansını yükseltmek, bunun yanında da sağlıklı dokuların maruz kaldığı radyasyon dozunu daha düşük düzeyde tutmak mümkün olur. Her
        alan için aygıt sabit bir açıda durur.
    </p>

    <p>
        <b>Yoğunluk Ayarlı Radyoterapi-IMRT (Intensity Modulated Radiation Therapy):</b> Teknolojinin ulaştığı bir üst düzeydir. IMRT,
        birden
        fazla ışın alanın konformal tedaviye benzer şekilde dokuya yöneltilmesidir. Aygıt yine planlamada belirlenen açılarda durarak
        alanları oluşturur. Ancak MLC’ler o pozisyonda planlanan programa göre sürekli hareket ederek ışını şekillendirir. Konformal
        tedaviden farklı olarak, MLC hareketi sürekli olduğu için ışın yoğunluğunun değişimi, gereken her yer için geçerlidir. IMRT son
        yıllarda giderek daha yaygın olarak kullanılmaktadır. Yeni aygıtlarda tedavi sırasında aygıt 360 derece dönerek ışın çıkartır. Bu
        IGRT ve ışınlanan bölgedeki doz dağılımı açısından bazı avantajlar sağlar. Daha önce de söylediğimiz gibi en karmaşık ve üstün
        görünen yöntem sizin için gereksiz ve hatta yetersiz olabilir. En iyi, en uygun olandır.
    </p>

    <p>
        <b>Görüntü Kılavuzluğunda Radyoterapi-IGRT (Image Guided Radiation Therapy):</b> Hastaya uygulanan tedavinin başarıya ulaşması için
        mutlaka
        başlangıçta yapılan planlamaya uyması şarttır. Tedavi sırasında hastanın yatışındaki küçük farklar, organ hareketleri, tümörün
        boyutundaki değişiklikler, mesane, rektum gibi organların günlük doluluk farkları, tedavide hedef sapmasına yol açabilir. Bundan
        kaçınmanın en basit yöntemi alanı büyük tutarak hedefi alan içinde tutma yöntemidir. Bu yöntem gereğinden fazla sağlıklı doku
        ışınlamasına sebep olduğu için tekniği sınırlı kılar. Bu kusurdan kurtulmak için radyoterapi öncesinde görüntüleme yöntemleri
        geliştirilmiştir ve Görüntü Kılavuzluğunda Radyoterapi-IGRT olarak tanımlanır. Bu ya tedavi ışını ya da aygıta takılan düşük
        enerjili x ışını kaynakları ile yapılır. Çıkan bilgi röntgen filimi düzeyindedir. Klasik röntgen filimi elde edilir veya aynı
        görüntü dijital olarak bir ekranda görülür(EPID). Bu görüntülemeye planar (ortogonal) görüntü (IGRT) denir. Sadece kemik doku ve
        akciğerler görüldüğü için sınırlıdır. Sapmalar kemik yolu ile belirlenir. Tümör veya tümörü taşıyan organ görünmez.
    </p>

    <p>
        Bilgisayarlı tomografiye benzer prensiple elde edilen görüntülere Volumetrik IGRT denmektedir. Volumetrik IGRT yüksek enerjili x
        ışınları ile yapılmaktadır (MVCT). Volumetrik IGRT ile yumuşak doku, yani organ ve tümör görüntüleri elde edilebilmekte, hedef
        sapmaları en aza indirilmektedir.
    </p>

    <p>
        <b>Adaptif radyoterapi:</b> Tümörler büyüyerek organlarda yer değişikliğine sebep olabilir. Benzer şekilde hastanın tedavi sırasında
        şişmanlaması veya zayıflaması yine başlangıçtaki planlamayı saptırabilir. Bu hacim değişiklikleri organ hareketi ve hasta
        hareketinden bağımsızdır. Özel planlama yöntemi ile tedavi sırasında alınan tomografi ile plan bilgileri; hacim, organ doz oranları
        ve tümör doz oranları kıyaslanarak değerlendirilir ve gerektiğinde plan değişiklikleri yapılır.
    </p>

    <h3>Radyoterapi uygulaması aşamaları</h3>

    <ul>
        <li>
            İlk başvuruda hasta değerlendirilir. Daha önceden yapılan tetkikler ve mevcut raporlar karar verdirtici düzeyde değilse,
            eksikler tamamlanır. Tedavi ve yan etkileri hakkında bilgi verilir. Genelde verilecek radyasyonun toplam dozu küçük ve eşit dozlara
            bölünerek, günlük seanslar halinde hafta sonu hariç haftanın beş günü uygulanır. Tümörün tipine bağlı olarak toplam tedavi
            süresi 1 günden 8 haftaya kadar değişebilen şekilde olabilir. Uygun durumlarda, tedavi bölgesine göre, günlük dozlar yüksek tutularak
            toplam tedavi süresi kısaltılır. Tedavi sayısı her zaman hastalığın boyutu ile bağlantılı değildir, hastalar çoğunlukla uzun tedavileri
            daha ciddi hastalıkmış gibi algılama yanlışlığına düşerler.
        </li>
        <li>
            Radyoterapi uygulanacak tüm hastalarda ilk olarak tedavi pozisyonu belirlenir. Bunun için tedavi esnasında hareket etmesini
            önleyecek her hasta için özel yapılan maske veya vakum yatakları oluşturulur. Örneğin baş-boyun kanserleri için maske, akciğer
            ve meme kanserlerinde özel yataklar hazırlanır. Bazı hastalar ise ayar seviyeleri değiştirilebilen sabitleyici sistemlerle tedaviye
            alınır. Bunların hiçbiri acı veren uygulamalar değildir. Bundan sonra tedavi pozisyonunda planlamanın ilk aşaması olan simülasyon
            yapılır.
        </li>
        <li>
            Elde edilen görüntüler DICOM bağlantısı ile planlama bilgisayarına aktarılır. Hedef yer (tedavi edilecek bölge) ve çevresindeki
            organlar bu görüntülerde işaretlenerek (konturlama) hazırlık tamamlanır. Sağlık fizikçisine uygulanacak teknik ve tedavi detayı
            aktarılır. Sağlık fizikçisi planın fizik verilerini oluşturur. Bu verilerin tıbbi uygunluğunun kontrolü, uygulanabilirliği
            kontrol
            edilir. Gereken değişiklikler yapılır. Bazı durumlarda planın tümü ile baştan yapılması ve teknik değişikliği gerekebilir.
        </li>
        <li>
            Tedavinin ilk günü, tedaviye başlamadan önce planlanan tedavi alanın doğrulanması amacıyla tedavi cihazında tedavi ışınları ile
            görüntü alınır. Uygunluk kontrol edilir ve gerekliyse düzeltmeler yapılarak tedaviye başlanır.
        </li>
        <li>
            Tedavinin uygulanması: Radyasyon tedavisi, uygulanacak bölgeye ve tekniğe göre değişmekle beraber yaklaşık 2-20 dakika kadar
            değişen sürelerde gerçekleşir. Daha önce de belirtildiği gibi ışın hissedilmez ve ağrı duyulmaz. Teknisyen arada uygulamalar
            için
            odaya girebilir. Hasta tedavi sırasında kapalı devre televizyon sistemi ile izlenir. Ayrıca her tedavi odasında, hastayla
            konuşmayı
            sağlayacak diafon sistemi de mevcuttur. Televizyon ve diafon tıbbi zorunluluktan çok hastayı yalnızlık hissinden kurtarmak
            içindir.
            Çok az hastada tedavi sırasında tıbbi gözetim gerekir. Aygıt tedavi sırasında çeşitli açılarda durabilir ancak vücuda değmez.
        </li>
        <li>
            Tedaviler sırasında oda aydınlıktır. Tüm tedavi odaları aygıtların ideal çalışma ısısı olan 21˚ C ısısında tutulur ve nem
            kontrollüdür.
        </li>
    </ul>

    <h3>Bazı uyarılar</h3>

    <ul>
        <li>
            Lütfen radyoterapi ve tüm tedavilerde kulaktan dolma bilgiye güvenmeyin. Hastalık sohbetini reddedin. Aynı tedaviyi alan iki
            hasta, aynı tanıyı taşısa dahi, daima birbirinden farklıdır. Tedavi sırasında sizinle yan yana oturan hasta, aynı teşhisle ama
            çok farklı bir şekilde tedavi ediliyor olabilir. Hastalık konuşmak, sıkıntı anlatmak, tıbbi bilgiçlik kültürel bir sorundur.
            Hastaya ciddi zararlar verebilmektedir.
        </li>
        <li>
            Bazı tedaviler özel diyet ve kişisel dikkat gerektirebilir. Durumunuza göre gereken tembihler doktorunuz tarafından
            yapılacaktır. Karışıklık yaratmamak için burada tanımlanmamıştır.
        </li>
        <li>
            Radyoterapide eskiden olduğu gibi herkese uygulanan banyo yasağı yoktur. Eğer cildinize bazı işaretler konursa bunların
            kaybolmaması için üzerine bantlar yapıştırılacaktır. Duşa girmenizde sakınca yoktur. Ancak bu bantları ovalayarak çıkmasına
            sebep olmayın. Küvete yatmak, sauna ve yüzme bantların atmasına sebep olacaktır, yapmamanızı rica ederiz. Tedavinizin ilerleyen
            günlerinde cilt durumuna göre özel tembihler olabilir.
        </li>
        <li>
            Kilo sağlık işareti değildir. Alıştığınız kilonun üzerine çıkmamak için gayret gösterin. Tedavi öncesi ideal kiloya sahipseniz
            biraz altına düşmeyi dert etmeyin. Zaten şişmansanız kilo verdim diye sevinin.
        </li>
        <li>
            Size radyoterapi hakkında detaylı bilgiler verilmiştir. Bu bilgi aktarımından amaç, duyacağınız bazı terimleri ve bilgileri
            ulaşılabilir kılmaktır. Lütfen en iyi yöntemi seçme düşüncesi ile kendinizi bunaltmayın. En karmaşık ve üstün görünen yöntem
            sizin için gereksiz ve hatta yetersiz olabilir. En iyi, en uygun olandır.
        </li>
    </ul>

    <h3>Hasta sabitleme sistemleri (aksesuarlar)</h3>

    <p>
        Hastanın bazı tedavilerde vücut pozisyonunu planlama dönemindeki şeklinde, açısında, tutmak için çeşitli sabitleyici aksesuarlar
        kullanılır. Bunlar hem vücut pozisyonunu korurlar, hem de tedaviye yönelik bazı işaretlerin hastanın görünen yerlerine konmasını
        engellerler.
    </p>

    <p>
        Aksesuarlar, meme tedavisinde kullanılan tabla ve kol düzenekleri, kol taşıyıcıları, vakum yatak ve yastıkları, diz sabitleyicileri,
        omuz gericileri, baş ve boyun maskeleri gibi çeşitli malzeme ve düzeneklerdir.
    </p>
{% endblock %}