@import url("variables.less");

@import url("submenu.less");

#topMenuBar #top_menu {
    padding-bottom: 0.7em !important;
}

.submenu.h_menu {
    margin: 0 !important;
    padding: 0 !important;
}

.submenu a {
    padding: 0.25em 0.9em;
}

#subMenuBar {
    height: 88px !important;
}

h3 {
    margin-left: @unit_containerMarginLeft * -1;
    padding-left: @unit_containerMarginLeft;
    margin-bottom: 0.5em;
    margin-top: 1em;
    background: url("/static/img/bookmark.jpg") no-repeat 1.25em 0.3em;
}